/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700

*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --cyan-color: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

body {
  font-family: "Karla", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 30px;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  /* padding: 0 30px; */
  box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.15);
}

section {
  padding: 30px 20px;
  overflow: hidden;
}

ul {
  list-style: none;
  margin-top: 20px;
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

/* Section #1 */
.community {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h1 {
  color: var(--cyan-color);
  margin-bottom: 20px;
  font-size: 21px;
}

.hussle {
  color: var(--bright-yellow);
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.4;
  font-weight: 700;
}

.access {
  color: var(--grayish-blue);
  line-height: 1.8;
}

/* Section #2 */
.subscription {
  background-color: var(--cyan-color);
  color: #fff;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.dollars {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}
.less {
  font-size: 16px;
  color: var(--light-gray);
}
.month {
  color: var(--light-gray);
}
button {
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: var(--bright-yellow);
  border: none;
  color: #fff;
  margin-top: 30px;
  padding: 15px;
  font-size: 16px;
  /* font-weight: 700; */
  border-radius: 5px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.15);
  font-family: inherit;
}

/* Section #3 */
.about {
  background-color: #54c1bf;
  color: #fff;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

/****************************************************/
/* Desktop version */
/****************************************************/

@media screen and (min-width: 960px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .community {
    grid-column: 1 / -1;
  }

  section {
    padding: 40px;
  }

  .access {
    font-size: 16px;
  }

  .hussle {
    font-size: 18px;
  }

  h1 {
    font-size: 24px;
  }
}
